.App {
  .section {
<<<<<<< HEAD
    // height: 760px;
=======
    overflow-y: hidden;
    height: 760px;
>>>>>>> a88b6d394b242a61a054fbf70f1b34892e779d42
    color: #111;
    padding: 0 5%;

    &:nth-child(even) {
      background-color: #ededed;
    }

    &:nth-child(odd) {
      background-color: #ffffff;
    }

    &:nth-child(1) {
      background-color: black;
    }

    .section-heading {
      text-align: center;
      font-size: 2.8rem;
      padding-top: 40px;
      margin-top: 0;
    }

    @media only screen and (max-width: 425px) {
      .section-heading {
        font-size: 2.4rem;
      }
    }
  }
}
