.header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, #323232 10%, #212121 90%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 8px 3%;
  z-index: 1000;
  box-shadow: 0 5px 11px #323232;
  border-top:3px solid #14ffec;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 410px;
    justify-content: space-around;
    padding-top: 5px;
    text-align: center;

    .logo {
      width: 18%;
      cursor: pointer;
    }
    h3 {
      font-size: 2em;
      margin: 0;
      color: #14ffec;
      font-weight: 600;
      .inverted {
        display: inline-block;
        -moz-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -ms-transform: scale(-1, -1);
        transform: scale(-1, -1);
      }
    }
  }

  .sidedrawer-btn {
    display: none;
  }

  .options {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;

    .option {
      font-size: 1.4em;
      color: #fff;
      padding: 10px 15px;
      text-transform: capitalize;
      cursor: pointer;

      &.faq {
        text-transform: uppercase;
      }

      &:hover {
        cursor: pointer;

        &.hover {
          &:before,
          &:after {
            width: 50%;
            opacity: 1;
          }
        }
      }
    }

    .hover {
      position: relative;
      transition: all 0.1s ease-in-out;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        width: 0px;
        height: 5px;
        margin: 2px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.5s;
        opacity: 0;
        background-color: darken(#14ffec, 5%);
      }

      &:before {
        left: 40%;
      }

      &:after {
        right: 40%;
      }
    }
  }

  @media only screen and (max-width: 425px) {
    .options {
      display: none;
    }

    .sidedrawer-btn {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: bold;
      margin-right: 10px;

      .toggle {
        color: #fff;
        font-size: 1.5rem;
      }
    }
  }
}
